@font-face {
   font-family: "Saol Display Regular";
   src: url("fonts/SaolDisplay-Regular.woff") format("woff"), url("fonts/SaolDisplay-Regular.eot") format("embedded-opentype"), url("fonts/SaolDisplay-Regular.ttf") format("truetype"), url("fonts/SaolDisplay-Regular.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "HelveticaNeue";
   src: url("fonts/HelveticaNeue Bold.woff") format("woff"), url("fonts/HelveticaNeue Bold.eot") format("embedded-opentype"), url("fonts/HelveticaNeue Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "HelveticaNeue";
   src: url("fonts/HelveticaNeue Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}